@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");

// font-size
$size10: 1rem;
$size12: 1.2rem;
$size14: 1.4rem;
$size16: 1.6rem;
$size18: 1.8rem;
$size20: 2rem;

//colors
$grey: #a3a3a3;

html {
  font-size: 62.5%;
}
p,
ul {
  margin: 0;
}
ul {
  padding-left: 0;
  list-style: none;
}
* {
  transition: transform, color, box-shadow 0.3s linear;
}
.App {
  margin: 0 auto;
  font-size: $size16;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  padding: 0 10%;
}
.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100px;
  .header_logo {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .cart_container {
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
    display: flex;
    align-items: center;
    .cart_icon {
      width: 23px;
      max-height: 30px;
    }
    .cart_quantity {
      background-color: black;
      padding: 0 3px;
      min-width: 14px;
      color: white;
      height: 20px;
      margin-left: 8px;
      text-align: center;
      line-height: 20px;
      font-size: $size14;
    }
  }
}
.productCard_container {
  position: relative;
  width: 290px;
  margin-bottom: 30px;
  &:hover {
    cursor: pointer;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.0697115);
  }
  .productCard_img {
    height: 385px;
    background-size: cover;
  }
  .productCard_title {
    padding: 15px 20px;
    .productCard_type {
      font-size: $size10;
      text-transform: uppercase;
      color: $grey;
      letter-spacing: 1px;
    }
    .productCard_name {
      margin: 2px 0 15px 0;
      &::first-letter {
        text-transform: capitalize;
      }
    }
    .productCard_price {
      font-size: $size20;
      font-weight: 500;
      text-align: center;
    }
    .productCard_balance {
      font-size: $size10;
      margin-top: 1px;
      color: $grey;
      text-align: center;
    }
  }
}
.shoppingCart_container {
  position: fixed;
  height: 100vh;
  width: 340px;
  background: #2b2b2b;
  color: white;
  top: 0;
  right: 0;
  padding-top: 140px;
  .shoppingCart_close {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 45px;
    right: 38px;
    &:hover {
      cursor: pointer;
      transform: scale(1.2);
    }
  }
  .shoppingCart_item {
    display: flex;
    justify-content: normal;
    padding: 15px 30px 15px 35px;
    border-bottom: 1px solid #424242;
    &:first-child {
      border-top: 1px solid #424242;
    }
    .shoppingCartItem_img {
      height: 85px;
      min-width: 85px;
      background-size: cover;
    }
    .shoppingCartItem_info {
      width: 100%;
      padding: 25px 15px;
      .shoppingCartItem_name {
        font-size: $size12;
        &::first-letter {
          text-transform: capitalize;
        }
      }
      .shoppingCartItem_sumary {
        font-weight: 500;
        display: flex;
        justify-content: space-between;
        margin-top: 6px;
        font-size: $size14;
        .shoppingCartItem_quantity {
          .shoppingCartItem_decrement,
          .shoppingCartItem_increment {
            &:hover {
              cursor: pointer;
              color: orange;
            }
          }
          .shoppingCartItem_value {
            margin: 0 8px;
          }
        }
      }
    }
  }
  .shoppingCartSum {
    display: flex;
    justify-content: space-between;
    padding: 40px 30px 35px;
  }
}
.shoppingCart_Buy {
  width: 80%;
  left: 10%;
  display: block;
  background: none;
  border: 2px solid white;
  position: absolute;
  top: calc(100vh - 100px);
  font-size: $size16;
  letter-spacing: 2px;
  padding: 20px;
  font-weight: 500;
  color: white;
  &:hover {
    cursor: pointer;
    border-color: greenyellow;
  }
  &.dark {
    border: 2px solid $grey;
    color: black;
    &:hover {
      border-color: greenyellow;
    }
  }
}
.main {
  .main_container {
    display: flex;
    .leftPanel_container {
      min-width: 200px;
      .leftPanel_types {
        padding-bottom: 15px;
        .leftPanel_typesOption {
          letter-spacing: 0.666667px;
          text-transform: uppercase;
          font-size: $size12;
          margin-bottom: 30px;
          &:hover {
            cursor: pointer;
            color: blue;
          }
          &.active {
            font-weight: 500;
          }
        }
      }
      .leftPanel_sort {
        &:hover {
          cursor: pointer;
          color: blue;
        }
        font-size: $size14;
        .open {
          transform: rotate(180deg);
        }
      }
      .leftPanel_sortPopUp {
        transform: translateX(-25%);
        margin-top: 15px;
        text-align: right;
        padding: 20px 15px;
        border: 1px solid black;
        font-size: $size14;
        .leftPanel_sortOption {
          margin-bottom: 15px;
          &.active {
            font-weight: 500;
          }
          &:hover {
            cursor: pointer;
            color: blue;
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
    .mainPanel_container {
      display: flex;
      width: 100%;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
}
